

caption { font-family: sans-serif;
 font-weight: bold;
 font-size: 1.2em;
 padding-bottom: 0.5em; 
}





a:link { color: darkorange; }
a:hover { text-decoration: none;
color: #000066; }

main{
    padding: 1em;
     margin-left: 10em;
    background-color: darkgray;
    
}

body { background-color: black;
      color: white;
	  font-family: sans-serif;
        font-weight:bold; 
}


h1 { color: orange;
   
    font-family: cursive;
    font-size: 3em;
    text-shadow: 10px 10px 10px #666;
    margin: auto;
    padding: 1em; 
    box-shadow: 5px 5px 5px #828282;
    background-image: repeating-linear-gradient(to bottom, #ffffff, #000000);
}


#wrapper { width: 60%;
        margin-left: auto;
        margin-right: auto;
    background-color: dimgray;
    min-width: 960px;
}

figure {
     float: right;
 margin: 0 0 5px 5px;
 border: 1px solid #000000;
    width 640px;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    font-family: Papyrus, fantasy;
    
}

figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
    
}







    
