
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

caption { font-family: Verdana, sans-serif;
 font-weight: bold;
 font-size: 1.2em;
 padding-bottom: 0.5em; 
}





a:link { color: darkorange; }
a:hover { text-decoration: none;
color: #000066; }

main{
    padding: 1em;
     margin-left: 10em;
    background-color: darkgray;
    
}

body { background-color: black;
      color: white;
	  font-family: Verdana, Arial, sans-serif;
        font-weight:bold; 
}

header { background-color: skyblue;
         color: #FFFFFF;
		 font-family: Georgia, serif; 
}

h1 { color: orange;
    background-color: aqua;
    font-family: cursive;
    font-size: 3em;
    text-shadow: 10px 10px 10px #666;
    margin: auto;
    border-width: thick;
    border-color: coral;
    border-style: double;
    padding: 1em; 
    border: 3px ridge #330000;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #828282;
    background-image: repeating-linear-gradient(to bottom, #ffffff, #00ff00);
}


#wrapper { width: 60%;
        margin-left: auto;
        margin-right: auto;
    background-color: dimgray;
    min-width: 960px;
}

figure {
     float: right;
 margin: 0 0 5px 5px;
 border: 1px solid #000000;
    width 640px;
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    font-family: Papyrus, fantasy;
    
}

figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
    
}







ul {
    
    padding: 20px 10px;
    list-style-type: none;
}




















  body{
            background: black; 
        }        
        
        h1{
            color: white;
        }    
        
    fieldset{
        width: 60%;
        background-color: lightgray;
        border: 1px solid lightblue;
        padding: 20px, 10px, 10px, 10px;
        
    }
    
    form { background-color:#eaeaea;
 font-family: Arial, sans-serif;
 padding: 10px; 
        }
    legend{
        
        font-family: georgia, sans-serif;
        font-size: 1.2em;
    }
    
   label { float: left;
 width: 100px;
 clear: left;
 text-align: right;
 padding-right: 10px;
 margin-top: 10px;
        }
    
   input, textarea { margin-top: 10px;
 display: block; }
    
        
        
        #mySubmit { margin-left: 110px; }
    
    input [type="submit"], input [type="reset"]{display: inline}
    
